.App {
  text-align: center;
}

.App-header {
  background-color: #24292d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.sort-and-filters {
  width: 370px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.dropdown-and-submit {
  display: flex;
  justify-content: space-between;
}

.css-2b097c-container {
  width: 200px;
  color: #074f57;
  text-align: right;
}

button {
  background-color: #4c6085;
  color: white;
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #4c6085;
  border-width: 1px;
}

.filter.true {
  background-color: #2684FF;
}

button:hover {
  background-color: #2684FF;
}

h1 {
  font-size: 58px;
}