.App {
  text-align: center;
}

.App-body {
  background-color: #24292d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.sort-and-filters {
  width: 370px;
  margin: 8px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.dropdown-and-submit {
  display: flex;
  justify-content: space-between;
}

.css-2b097c-container {
  width: 200px;
  color: #074f57;
  text-align: right;
}

button {
  background-color: #4c6085;
  color: white;
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #4c6085;
  border-width: 1px;
}

button:hover {
  background-color: #2684FF;
}

.filter.true {
  background-color: #2684FF;
}

.cardsList {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7px;
}

.bird-card {
  width: 270px;
  height: 380px;
  background-color: #DEEBFF;
  border-radius: 10px;
  margin: 8px;
}
.card-img img {
  width: 100%;
  height: 170px;
}

.card-contents {
  margin: 9px;
  height: 365px;
}
.bird-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 53%;
  text-align: left;
  color: #24292d;
}
.names-and-span {
  display: flex;
  justify-content: space-between;
}
.common-name {
  font-weight: bolder;
}
.scientific-name {
  font-style: italic;
}
.wingspan {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 5px;
  width: 49px;
}
.wingspan-val {
  margin: 0px;
  text-align: center;
}
.wingspan img {

  margin-top: -8px;

}

.bird-card-tags {
  display: flex;
  justify-content: left;
  color: white;

}
.bird-card-tags > div {
  background-color: #4c6085;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  border-color: #4c6085;
  border-width: 1px;
  font-size: 11px;
}

h1 {
  font-size: 58px;
  margin-bottom: 10px;
  margin-top: 20px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 30px;
}

p {
  margin: 5px;
}

a {
  color: #36f1cd;
}